# local package
-e .
awscli
bandit
black

# external requirements
click
coverage
pyproject-flake8
isort
mllint==0.12.1
mypy
nltk
numpy
pandas
pre-commit
pylint
python-dotenv>=0.5.1
sklearn
Sphinx
toml
mypy
pylint
pytest