version: '3.3'
services:
  gateway:
    image: nginx:latest
    depends_on:
      - inference-service
    volumes:
      - ./gateway_nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8000:80"

  inference-service:
    build: ../../
    image: inference-service:latest
    command: sh src/startup.sh
    environment:
      - PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus

  scraping-controller:
    build:
      context: ../../src/
      dockerfile: scraping_controller/Dockerfile
    image: scraping-controller:latest
    command: sh src/startup.sh
    environment:
      - APP_MODULE=controller
      - PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus
#      - SCRAPE_START_TIMESTAMP=
#      - SCRAPE_INCREMENT_SECONDS=
      - API_KEYS=thisisanapikey
