apiVersion: v1
kind: Service
metadata:
  name: inference-service
  labels:
    app: inference-service
spec:
  type: ClusterIP
  selector:
    component: inference-app
  ports:
    - port: 5000
      name: http
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: inference-app
  template:
    metadata:
      labels:
        component: inference-app
    spec:
      containers:
        - name: inference-app
          image: ghcr.io/adam-tu/remla-project/inference-service:latest
          imagePullPolicy: Always
          command: ["sh"]
          args: ["src/startup.sh"]
          ports:
            - containerPort: 5000
          env:
            - name: PROMETHEUS_MULTIPROC_DIR
              value: /tmp/prometheus/
            - name: APP_MODULE
              value: serve_model
---
apiVersion: v1
kind: Service
metadata:
  name: inference-frontend-service
  labels:
    app: inference-frontend-service
spec:
  type: ClusterIP
  selector:
    component: inference-frontend
  ports:
    - port: 8080
      name: http
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: inference-frontend
  template:
    metadata:
      labels:
        component: inference-frontend
    spec:
      containers:
        - name: inference-frontend
          image: ghcr.io/adam-tu/remla-project/inference-frontend-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080 
          env:
            - name: MODEL_HOST 
              value: http://inference-service:5000